:root {
  --el-color-primary: #f9ad16 !important; /* your primary color */

  /* Optional: automatically adjust shades */
  --el-color-primary-light-3: #ffde9d !important;
  --el-color-primary-light-5: #f8ca6d !important;
  --el-color-primary-dark-2: #f8bf4d !important;
}